doctype html
head
  title  cinema utrecht movie-info page
  meta(charset='UTF-8')
  meta(name='keywords' content='tickets, cinema, John Wick, Fast and Furious, Harry Potter, action, racing, fantasy, movie, violence, sale, purchase')
  meta(name='description' content='The description of the clicked movie')
  meta(name='author' content='Taylan Batman, Jonathan van Dijk, Marijn Luime')
  meta(name='viewport' content='width=device-width, initial-scale = 1.0')
  link(rel='stylesheet' href='../css/general.css')
  script(src='../js/nav.js' defer='')
header
nav
main
script.
  let headerElement = document.getElementsByTagName('header')[0];
  let h1Element = document.createElement('h1');
  h1Element.appendChild(document.createTextNode("Cinema Utrecht Movie Description"));
  headerElement.appendChild(h1Element);
  let mainElement = document.getElementsByTagName("main")[0];
  let generalInfo = document.createElement('section');
  let generalInfoTitle = document.createElement('h2');
  generalInfoTitle.appendChild(document.createTextNode("General information of the movie"));
  generalInfo.appendChild(generalInfoTitle);
  generalInfo.appendChild(document.createTextNode("Title of the movie: " + "#{movietitle}" + ".")); //!!!
  generalInfo.appendChild(document.createElement('br'));
  generalInfo.appendChild(document.createTextNode("Genre of the movie: " + "#{moviegenre}" + ".")); //!!!
  generalInfo.appendChild(document.createElement('br'));
  generalInfo.appendChild(document.createTextNode("Year of release: "+ "#{movieyear}" + ".")); //!!!
  generalInfo.appendChild(document.createElement('br'));
  generalInfo.appendChild(document.createTextNode("Director of the movie: " + "#{moviedirector}" + ".")); //!!!
  generalInfo.appendChild(document.createElement('br'));
  generalInfo.appendChild(document.createTextNode("Writer of the movie: " + "#{moviewriter}" + ".")); //!!!
  generalInfo.appendChild(document.createElement('br'));
  let Actordata = "Actors: ";
  let actorlist = "#{actors}"
  let actors = actorlist.split("-")
  for(i = 0; i < actors.length - 1; i++){
  Actordata += actors[i] + ", ";
  }
  Actordata += actors[actors.length - 1] + ".";
  generalInfo.appendChild(document.createTextNode(Actordata));
  mainElement.appendChild(generalInfo);
  let movieInfo = document.createElement("section");
  let movieInfoTitle = document.createElement('h2');
  movieInfoTitle.appendChild(document.createTextNode("Information about the content of the movie"));
  movieInfo.appendChild(movieInfoTitle);
  let posterlink = document.createElement("a");
  posterlink.setAttribute('href', '#{poster}'); //!!!
  posterlink.appendChild(document.createTextNode("Link to the promotional poster"));
  movieInfo.appendChild(posterlink);
  movieInfo.appendChild(document.createElement('br'));
  let trailerlink = document.createElement("a");
  trailerlink.setAttribute('href', '#{trailer}'); //!!!
  trailerlink.appendChild(document.createTextNode("Link to the trailer for the movie"));
  movieInfo.appendChild(trailerlink);
  movieInfo.appendChild(document.createElement('br'));
  let plot = document.createElement('p');
  plot.appendChild(document.createTextNode("Plot: " + "#{plot}"));
  movieInfo.appendChild(plot);
  mainElement.appendChild(movieInfo);