doctype html
head
  title Cinema Utrecht Profile Page
  meta(charset='UTF-8')
  // meta data for assisting search engines
  meta(name='keywords' content='profile')
  meta(name='description' content='This is the profile page for our cinema')
  meta(name='author' content='Taylan Batman, Jonathan van Dijk, Marijn Luime')
  meta(name='viewport' content='width=device-width, initial-scale = 1.0')
  link(rel='stylesheet' href='../css/general.css')
  script(src='../js/nav.js' defer='')
header
  h1 Cinema Utrecht Profile
nav
main
  h2 Profile Page
  h3
    | Name
  label "#{name}"
  h3
    | Email
  label "#{email}"
  h3
    | Login
  label "#{login}"
  h3
    | Password
  label "#{password}"
  h3
    | Address
  label "#{address}"
  h3
    | Creditcard
  label "#{creditcard}"
  h3
    | Order History
  label "#{history}"